canvas .pieCanvas, canvas .barCanvas {
    height: 400px;
    width: 400px;
}

.pieFilter, .barFilter {
    font-size: 20px;
}

.legendicon {
    width: 20px;
    height: 10px;
    margin: 20px;
    display: inline;
}

.pieFilter div, .barFilter div {
    padding: 7px;
}

.pieChartTable td, .barChartTable td {
    padding: 0 20px 20px 20px;
}

.pieChartTable, .barChartTable {
    background-color: #f5f5f5;
    border-radius: 10px;
}