canvas .pieCanvas {
    height: 400px;
    width: 400px;
}

.pieFilter {
    font-size: 20px;
}

.legendicon {
    width: 20px;
    height: 10px;
    margin: 20px;
    display: inline;
}

.pieFilter div {
    padding: 7px;
}

.pieChartTable td {
    padding: 0 20px 20px 20px;
}

.pieChartTable {
    background-color: #f5f5f5;
    border-radius: 10px;
}